// Thematic
$primary: #e3a75d;
$secondary: #9fa8b9;
$white: #fcf4ea;

// Greys
$grey-dark: #3a3a44;
$grey-light: #434550;

// Background
$background: #20202b;
$background-dark: #22222b;
$background-light: #2d2d38;
