.font {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.h1 {
    composes: font;
    font-size: 3.5rem;
}

.body {
    composes: font;
    font-size: 3rem;
}

.caption {
    composes: font;
    font-size: 2rem;
}
