@import '../../../../styles/colors.module';
@import '../../../../styles/layout.module';

$logoHeight: 138px + 2px; // 2px for borders

.playingStation {
    // Layout
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 3rem;
    padding: $padding-lg 0 0;

    // Size
    min-height: $logoHeight;
    height: 0;
    overflow: hidden;

    // Transition
    transition-property: min-height, padding-top;
    transition-duration: 300ms;
}

.transitionEnter {
    min-height: 0;
}

.transitionEnterActive {
    min-height: $logoHeight;
}

.transitionExit {
    min-height: $logoHeight;
}

.transitionExitActive {
    padding-top: 0;
    min-height: 0;
}

.stationIcon {
    width: 4rem;
    height: 4rem;
}

.logo {
    width: 100%;
    height: calc(100% - 2px); // 2px to account for borders in transition
    object-fit: contain;

    // Border
    border: 1px solid $secondary;
    border-radius: 50%; // Fully circular

    // Temporary
    background-color: $secondary; // needed to make the border flush since the logo is not perfectly circular
}
